<%- include('partials/header.ejs')  %> 
<%- include('partials/navbar.ejs')  %>
<body>
    <div class="container"></div>
        <div class="card">
            <div class="card-body">
                <form action="index" method="POST">                
                    <textarea class="form-control"></textarea><br/>
                    <button class="btn btn-primary">PROCESSAR</button>           
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs')  %>